# =====================
# Terraform
# =====================
.terraform/
*.tfstate
*.tfstate.backup

# =====================
# AWS / Secrets
# =====================
*.pem
.env
.env.*

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/

# =====================
# Logs
# =====================
*.log

# =====================
# Tools / Temporary
# =====================
bfg.jar


# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

