apiVersion: apps/v1
kind: Deployment
metadata:
  name: wp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wp
  template:
    metadata:
      labels:
        app: wp
    spec:
      containers:
        - name: wp
          image: 285679047437.dkr.ecr.us-east-1.amazonaws.com/mywordpress:prod
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: wp-service
spec:
  selector:
    app: wp
  ports:
    - port: 80
      targetPort: 80
  type: NodePort
