name: WordPress CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "dockerfiles/**"
      - "nginx-app/**"
      - "nginx-data/**"
      - "k8s/**"
      - ".github/workflows/deploy.yml"
  workflow_dispatch:

jobs:
  build_push:
    runs-on: ubuntu-latest

    outputs:
      ecr_registry: ${{ steps.login-ecr.outputs.registry }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: docker build -t wordpress:latest -f dockerfiles/Dockerfile.wp .

      - name: Tag Docker image for ECR
        run: docker tag wordpress:latest ${{ steps.login-ecr.outputs.registry }}/wordpress:latest

      - name: Push Docker image to ECR
        run: docker push ${{ steps.login-ecr.outputs.registry }}/wordpress:latest

  deploy:
    needs: build_push
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kubeconfig for EKS
        run: aws eks update-kubeconfig --name prod-eks-cluster --region us-east-1

      - name: Deploy WordPress container
        run: |
          kubectl set image deployment/wordpress wordpress=${{ steps.login-ecr.outputs.registry }}/wordpress:latest
          kubectl rollout status deployment/wordpress
