name: WordPress CI/CD

on:
  push:
    branches:
      - main

jobs:
  build_push:
    runs-on: ubuntu-latest

    outputs:
      ecr_registry: ${{ steps.login-ecr.outputs.registry }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Docker image to ECR
        run: |
          IMAGE=${{ steps.login-ecr.outputs.registry }}/wordpress:latest
          docker build -t $IMAGE -f dockerfiles/Dockerfile.wp .
          docker push $IMAGE

  deploy:
    needs: build_push
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig --name prod-eks-cluster --region us-east-1

      - name: Deploy latest image
        run: |
          kubectl set image deployment/wordpress \
          wordpress=${{ needs.build_push.outputs.ecr_registry }}/wordpress:latest

      - name: Wait for rollout
        run: |
          kubectl rollout status deployment/wordpress


